.column-xs-12 {
    margin-right: 3em;
    width: 100%;
}

.product-image {
  display: none;
}

.image-list li{

    margin: 0;
  }



  .product-image img, .image-list img {
    width: 100%;
  }

  .product-image {
    display: block;}
    .product-image img {
      height: 52vh;

        display: block;
        margin: 0 0 0.75rem 0;
      }

      .add-to-cart {
        position: relative;
        display: inline-block;
        border: none;
        border-radius: 0.5rem;
        padding: 1.25rem 2.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        cursor: pointer;
        transform: translateZ(0);
        transition: color 0.3s ease;
        letter-spacing: 0.0625rem;
    text-align: center;
background-color: #f1bb68;
}
.add-to-cart:hover{
    background-color: #276FB4;
}



  .image-list {
    display: flex;
    overflow: hidden;}
    li {
      margin: 0 0.75rem 0 0;
      flex-basis: 100%;

    }
    .product-image img {
      height: 10rem;
      width: 100%;
      transition: opacity 0.3s ease;
      cursor: pointer;}
      img:hover {
        opacity: 0.7;
      }





@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


